__pycache__/
*.pyc
.venv/
venv/
.vscode/
.idea/
datasets/bigearthnet_s2/
datasets/bigearthnet_s2
datasets/bigearthnet_s2_*.tar.gz
datasets/bigearthnet_s2/*_tensors/
datasets/bigearthnet_s2/**/*.pt
datasets/logs/
results/logs/
results/checkpoints/
*.pt
*.pth
*.ckpt
Thumbs.db
.DS_Store
datasets/bigearthnet_s2
datasets/bigearthnet_s2_100k.tar.gz