__pycache__/
*.pyc
.venv/
venv/
.vscode/
.idea/
datasets/datasets/eurosat_ms/
datasets/logs/
datasets/EuroSAT_MS/
datasets/BigEarthNet-S2/
datasets/BigEarthNet-S2.tar.zst
results/logs/
results/checkpoints/
*.pt
*.pth
*.ckpt
Thumbs.db
.DS_Store
